{% extends "base.html" %}
{% block title %}
    Home Page
{% endblock %}
{% load static %}
{% block content %}
    <h2>Parag Radhakrishna Kelji</h2>
    <img src="{% static 'py_dj_first_app/images/PK_Jack_In_The_Box.jpg' %}"/>
    <br>
    <h1>Introduction:</h1>
    <br>
    <p>An intriguing amalgamation of a hands-on engineer and a front-foot leader. “Unconscious Competence”(four stages of competence) has been my second nature for very long.
        Analytical Sr Technical Specialist with over 18 years of experience delivering efficient software. Expert at translating business requirements and vision into improved system designs. Extensive experience in Software Design, Architecture and coding with proven adeptness, adaptability and accountability.
        People-oriented Team Leader successful in monitoring performance, delegating work, grooming engineers and resolving technical bottlenecks. Versed in managing daily direction and team communication. Collaborative and capable professional dedicated to delivering creative solutions solo as well as through teamwork.
    </p>
    <br>
{% endblock %}